 * {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
    line-height: 1.6;
    }

body {
	

}

header {
	background-color: #999;
}

footer {
	width: 100%;
	text-align: center;
	background-color: #999;
	padding: 1em 0;
}