.box-title {
	background-color: #151;
	padding: 10px;
}

.box-user {
	position: relative;   	   	
	padding: 10px;
	
	background-color: #487; 
}

/* primeira coluna */
.box-form-user {

	position: relative;
	overflow: hidden;
	float: left;

	background-color: #e6e6e6;

	width: 60%;   

	/*padding: 30px 100px;*/
}

/* segunda coluna */
.box-list-form-users {

	position: relative;
	overflow: hidden;
	float: left;

	width: 40%;

	background-color: #e6e6e6;

	/*padding: 30px 50px;*/
}

