{% extends 'layout.twig' %}

{% block titulo %} 
	Johni Douglas Marangon 
{% endblock %}

{% block conteudo %} 

	<h2>bem-vindo</h2>

	<a href='/users'>Users</a>
	<a href='/permissions'>Permissions</a>
	
{% endblock %}