{% extends 'layout.twig' %}

{% block titulo %}Instalação{% endblock %}

{% block conteudo %}
  
  <h2>Bem vindo a instalacao do svnspok</h2>

  <form action="instalacao.php" method="post">
  
  </form>

{% endblock %}