<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>{% block titulo %} {% endblock %}</title>	
</head>
<body>
	<!-- Cabe -->
	<header>
		<p>svnspok</p>	
	</header>

	<article>
		{% block conteudo %} {% endblock %}
	</article>

	<footer>
		<p>Johni Douglas Marangon</p>
	</footer>
</body>
</html>

