<!doctype html>
<html lang="pt-BR" dir="ltr">
<head>
	<meta charset="UTF-8">
	
	<title>{% block titulo %} {% endblock %}</title>	

	<link rel="stylesheet" href="public/css/layout.css">

</head>
<body>
	<!-- Cabe -->
	<header>
		<p>svnspok</p>
		https://gist.github.com/martinbean/1855032	
	</header>

	<article>
		{% block conteudo %} {% endblock %}
	</article>

	<footer>
		<p>Johni Douglas Marangon</p>

	</footer>
</body>
</html>

