<!doctype html>
<html lang="pt-BR" dir="ltr">
<head>
	<meta charset="UTF-8">
	
	<title>{% block titulo %} {% endblock %}</title>	

	<link rel="stylesheet" href="public/css/layout.css">

</head>
<body>
	
	<header>
		<p>svnspok</p>
		https://gist.github.com/martinbean/1855032	
	</header>

	<nav>

		<a href='index.php'>Home</a>
		<a href='users.php'>Users</a>
		<a href='permissions.php'>Permissions</a>
		<a href=''>Configurações</a>
		<a href=''>Informaçoes do servidor</a>
		<a href=''>Logount</a>		

	</nav>

	<article>
		{% block conteudo %} {% endblock %}
	</article>

	<footer>
		<p>Johni Douglas Marangon</p>
	</footer>
</body>
</html>

