<!doctype html>
<html lang="pt-BR" dir="ltr">
<head>

	<meta charset="UTF-8">	
	<title>{% block titulo %} {% endblock %}</title>	

	<link rel="stylesheet" href="public/css/layout.css">

	<script src=""></script>

</head>
<body>
	
	<header>
		<div class="box-main">
			<div class="title-header">	
				<h1>svnspok</h1> <h3>Administrando seu Servidor SVN</h3>
			</div>

		</div>
	</header>

	<nav>
		<div class="box-main">
			<a href='index.php'>Home</a>
			<a href='users.php'>Users</a>
			<a href='permissions.php'>Permissions</a>
			<a href=''>Configurações</a>
			<a href=''>Informaçoes do servidor</a>
			<a href=''>Logount</a>		
		</div>	
	</nav>

	<article>
		<div class="box-main box-container">
			{% block conteudo %} {% endblock %}		
		</div>
	</article>

	<footer>
		<div class="box-main">
			<div class="about-footer">
				Johni Douglas Marangon
			</div>
		</div>	
	</footer>
</body>
</html>

