{% extends 'layout.twig' %}

{% block titulo %} 
Usuarios 
{% endblock %}

{% block conteudo %} 

<div class="page-title">Cadastro de projetos</div>

<div  class="page-container clearfix">

	
	<div class="page-form-insert box-insert-project">

	<form action="permissions.php" method="post">
		<div>
			<label for="project">Projeto:</label>
			<input id="project" type="text" name="project" value="{{ project }}" autofocus />	
		</div>

		<div>
				<input class="button green" type="submit" name="insert" value="Gravar">		
				<input class="button green" type="submit" name="cancel" value="Cancelar">		
		</div>

	</form>

	</div>

	<div class="page-form-list box-list-project">
		{% for permission in permissions %}
			<h2>{{ permission.projet }}</h2>
		{% else %}		
			<h2>Nenhum projeto cadastrado</h3>
		{% endfor %}
	</div>



</div>

{% endblock %}





