{% extends 'layout.twig' %}

{% block titulo %} 
	Usuarios 
{% endblock %}

{% block conteudo %} 

	<form action="/users" method="post">
		<input type="hidden" name="operation" value="insert">
		Usuário <input type="text" name="user">
		Senha <input type="text" name="password">
		<input type="checkbox" name="login" value="true"> Login 
	
		<input type="submit" name="insert" value="Gravar">		
	</form>	

	{% for user in users %}
		
		<form action="/users" method="post">
			<input type="hidden" name="operation" value="delete" />
			<h3>{{ user.name }}</h3>
			<input type="hidden" name="user" value="{{ user.name }}">

			<input type="submit" name="delete" value="Excluir">		
		<form action="/users" method="post">

	{% else %}		
		<h2>Nenhum usuario cadastrado</h3>
	{% endfor %}

	<a href='/index'>Index</a>

{% endblock %}