{% extends 'layout.twig' %}

{% block titulo %} 
	Usuarios 
{% endblock %}

{% block conteudo %} 

http://html5doctor.com/html5-forms-introduction-and-new-attributes/

	<form action="/users" method="post">

		<label>
			Usuário <input type="text" name="user" autofocus />	
		</label>

		<label>
			Senha <input type="text" name="password" />
		</label>
		
		<label>
			<input type="checkbox" name="login" value="true" />
			Login
		</label>		
	
		<input type="submit" name="insert" value="Gravar">		
	</form>	


	<form action="/users" method="post">
		{% for user in users %}				
			
			<h3>{{ user.name }}</h3>
			
			<input type="hidden" name="user" value="{{ user.name }}" />
			
			<input type="submit" name="edit"   value="Editar" /> 
			<input type="submit" name="delete" value="Deletar" /> 
	
		{% else %}		
			<h2>Nenhum usuario cadastrado</h3>
		{% endfor %}
	</form>	
	
	<a href='/index'>Index</a>

{% endblock %}